.site_header .row {
    height: 90px;
}

a {
    text-decoration: none;
    color: white;
}

.col>h5 {
    margin: 0
}

.menu {
    padding: 0.2rem .5rem;
    border: 1px solid white;
    border-radius: 3px;
}

.site_main img {
    height: 274px;
}

.site_main .row {
    height: 492px;
}

.site_main .container-fluid {
    background-color: #1abc9c;
}

@media screen and (min-width:768px) {
    .site_main .row {
        height: 592px;
    }
}